In [ ]:
# import dataset
# run the methods we learnt value count, unique, on species column
# create a new df object, without species column

In [25]:
import pandas as pd

df = pd.read_csv('iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [26]:
df['species'].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [27]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [29]:
iris_without_species = df.drop(columns=['species'])
iris_without_species.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [33]:
species = df.drop(['sepal_length','sepal_width','petal_length','petal_width'], axis=1)
species.head()

  species
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa

In [ ]:
# calculated column

sepalarea = iris_without_species['sepal_length'] * iris_without_species['sepal_width']

sepalarea.head()

0    17.85
1    14.70
2    15.04
3    14.26
4    18.00
dtype: float64

In [39]:
petalarea = iris_without_species['petal_length'] * iris_without_species['petal_width']

petalarea.head()

0    0.28
1    0.28
2    0.26
3    0.30
4    0.28
dtype: float64

In [40]:
iris_without_species['petal_area'] = petalarea

iris_without_species.head()

   sepal_length  sepal_width  petal_length  petal_width  petal_area
0           5.1          3.5           1.4          0.2        0.28
1           4.9          3.0           1.4          0.2        0.28
2           4.7          3.2           1.3          0.2        0.26
3           4.6          3.1           1.5          0.2        0.30
4           5.0          3.6           1.4          0.2        0.28

In [42]:
iris_without_species['sepal_area'] = sepalarea

iris_without_species.head(50)

,sepal_length,sepal_width,petal_length,petal_width,petal_area,sepal_area
0,5.1,3.5,1.4,0.2,0.28,17.85
1,4.9,3.0,1.4,0.2,0.28,14.70
2,4.7,3.2,1.3,0.2,0.26,15.04
3,4.6,3.1,1.5,0.2,0.30,14.26
4,5.0,3.6,1.4,0.2,0.28,18.00
5,5.4,3.9,1.7,0.4,0.68,21.06
6,4.6,3.4,1.4,0.3,0.42,15.64
7,5.0,3.4,1.5,0.2,0.30,17.00
8,4.4,2.9,1.4,0.2,0.28,12.76
9,4.9,3.1,1.5,0.1,0.15,15.19
10,5.4,3.7,1.5,0.2,0.30,19.98
11,4.8,3.4,1.6,0.2,0.32,16.32
12,4.8,3.0,1.4,0.1,0.14,14.40
13,4.3,3.0,1.1,0.1,0.11,12.90
14,5.8,4.0,1.2,0.2,0.24,23.20
15,5.7,4.4,1.5,0.4,0.60,25.08
16,5.4,3.9,1.3,0.4,0.52,21.06
17,5.1,3.5,1.4,0.3,0.42,17.85
18,5.7,3.8,1.7,0.3,0.51,21.66
19,5.1,3.8,1.5,0.3,0.45,19.38
20,5.4,3.4,1.7,0.2,0.34,18.36
21,5.1,3.7,1.5,0.4,0.60,18.87
22,4.6,3.6,1.0,0.2,0.20,16.56
23,5.1,3.3,1.7,0.5,0.85,16.83
24,4.8,3.4,1.9,0.2,0.38,16.32
25,5.0,3.0,1.6,0.2,0.32,15.00
26,5.0,3.4,1.6,0.4,0.64,17.00
27,5.2,3.5,1.5,0.2,0.30,18.20
28,5.2,3.4,1.4,0.2,0.28,17.68
29,4.7,3.2,1.6,0.2,0.32,15.04
30,4.8,3.1,1.6,0.2,0.32,14.88
31,5.4,3.4,1.5,0.4,0.60,18.36
32,5.2,4.1,1.5,0.1,0.15,21.32
33,5.5,4.2,1.4,0.2,0.28,23.10
34,4.9,3.1,1.5,0.1,0.15,15.19
35,5.0,3.2,1.2,0.2,0.24,16.00
36,5.5,3.5,1.3,0.2,0.26,19.25
37,4.9,3.1,1.5,0.1,0.15,15.19
38,4.4,3.0,1.3,0.2,0.26,13.20
39,5.1,3.4,1.5,0.2,0.30,17.34
40,5.0,3.5,1.3,0.3,0.39,17.50
41,4.5,2.3,1.3,0.3,0.39,10.35
42,4.4,3.2,1.3,0.2,0.26,14.08
43,5.0,3.5,1.6,0.6,0.96,17.50
44,5.1,3.8,1.9,0.4,0.76,19.38
45,4.8,3.0,1.4,0.3,0.42,14.40
46,5.1,3.8,1.6,0.2,0.32,19.38
47,4.6,3.2,1.4,0.2,0.28,14.72
48,5.3,3.7,1.5,0.2,0.30,19.61
49,5.0,3.3,1.4,0.2,0.28,16.50

In [53]:
# filter out parts of dataframes using pandas

# only part of iris_without_species value of sepal_area is > 14

large_flower = iris_without_species[iris_without_species['sepal_area'] > 15]

large_flower.head(10)

,sepal_length,sepal_width,petal_length,petal_width,petal_area,sepal_area
0,5.1,3.5,1.4,0.2,0.28,17.85
2,4.7,3.2,1.3,0.2,0.26,15.04
4,5.0,3.6,1.4,0.2,0.28,18.00
5,5.4,3.9,1.7,0.4,0.68,21.06
6,4.6,3.4,1.4,0.3,0.42,15.64
7,5.0,3.4,1.5,0.2,0.30,17.00
9,4.9,3.1,1.5,0.1,0.15,15.19
10,5.4,3.7,1.5,0.2,0.30,19.98
11,4.8,3.4,1.6,0.2,0.32,16.32
14,5.8,4.0,1.2,0.2,0.24,23.20

In [54]:
large_flower.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  120 non-null    float64
 1   sepal_width   120 non-null    float64
 2   petal_length  120 non-null    float64
 3   petal_width   120 non-null    float64
 4   petal_area    120 non-null    float64
 5   sepal_area    120 non-null    float64
dtypes: float64(6)
memory usage: 6.6 KB

In [55]:
large_flower['sepal_area'].value_counts()

sepal_area
15.66    4
19.38    3
15.19    3
19.50    3
20.77    3
        ..
15.86    1
21.42    1
19.84    1
21.76    1
21.08    1
Name: count, Length: 83, dtype: int64

In [56]:
large_flower16 = iris_without_species[iris_without_species['sepal_area'] == 16]

large_flower16.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 35 to 35
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  1 non-null      float64
 1   sepal_width   1 non-null      float64
 2   petal_length  1 non-null      float64
 3   petal_width   1 non-null      float64
 4   petal_area    1 non-null      float64
 5   sepal_area    1 non-null      float64
dtypes: float64(6)
memory usage: 56.0 bytes

In [57]:
# sorting values by something

sortedlarge_flower = large_flower.sort_values(by='sepal_area', ascending=False)

sortedlarge_flower.head()

,sepal_length,sepal_width,petal_length,petal_width,petal_area,sepal_area
131,7.9,3.8,6.4,2.0,12.80,30.02
117,7.7,3.8,6.7,2.2,14.74,29.26
109,7.2,3.6,6.1,2.5,15.25,25.92
15,5.7,4.4,1.5,0.4,0.60,25.08
14,5.8,4.0,1.2,0.2,0.24,23.20

In [68]:
largestFlower = sortedlarge_flower['sepal_area']
largestFlower.head(1)

131    30.02
Name: sepal_area, dtype: float64

In [69]:
areaoflargestflower = sortedlarge_flower['sepal_area'][131]
areaoflargestflower

np.float64(30.02)